@tailwind base;
@tailwind components;
@tailwind utilities;

/* Project base styles */
html, body, #root {
  height: 100%;
}

body {
  @apply bg-neutral-50 text-neutral-800 antialiased;
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.container { @apply mx-auto px-4; }
